{{#if addLabTile}}
<h1>Lab Tests</h1>
<div class="container ">
  <div class='labInfos'>
    <img src="image/favicon.ico"><span class="labInfos">Lab Test</span>
  </div>
</div>

<div class="container" id="labInfos">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date Request</th>

      <th>Patient Name</th>

      <th>Requested By</th>

      <th>Lab Type</th>

      <th>Test Result</th>

      <th>Lab Note</th>
    </tr>
  </thead>
    <tbody>
    {{#each model.lab as |lab|}}


<tr>
  <td>{{labInfos.daterequested}}</td>

  <td>{{labtests.patientname}}</td>

  <td>{{labtests.requestedby}}</td>

  <td>{{labtests.labtype}}</td>

  <td>{{labtests.labnote}}</td>

  <td>{{labtests.testresult}}</td>

  <button class="btn btn-success">Edit</button>
</tr>
    {{/each}}


    </tbody>
  </table>
  </div>
  <button {{action 'addLabTile'}}>Lab Tests</button>
  {{/if}}

