<div class="container" id="cont">
  <form>
    <div class="row">
      <div class="col-md-2">
        <div class=form-group>
          {{input type="date" class="form-control" id="dateRequested" value=dateRequested }}
        </div>
      </div>
      <div class="col-md-4">
        <div class=form-group>
          <label for="patientNames">Patient Names</label> {{textarea id="patientNames" value=patientNames class="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class=form-group>
          <label for="requestedBy"> Requested By</label> {{textarea id="requestedBy" value=requestedBy class="form-control"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class=form-group>
          <label for="labType">Lab Type</label> {{textarea id="labType" value=labType class="form-control"}}
        </div>
      </div>

      <div class="col-md-4">
        <div class=form-group>
          <label for="testResults">Test Results</label> {{textarea id="testResults" value=testResults class="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class=form-group>
          <label for="labNotes">Lab Notes</label> {{textarea id="labNotes" value=labNotes class="form-control"}}
        </div>
      </div>
    </div>

    <div class="col-md-1 btn-labinfo">
      <button class="btn btn-success" {{action 'labInfos'}}>Add Infomation</button>
    </div>
  </form>
</div>
