{{#if addMedication}}
  <h1>Medicine Supply</h1>

  <div class="container">
    <form>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label for="medication">Medication:</label> {{input value=medication id="medication"  class="form-control"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="prescriber">Prescriber:</label> {{input value=prescriber id="prescriber" class="form-control"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="prescription">Prescription:</label> {{input value=presciption id="prescription" class="form-control"}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-3">
            <label for="date">Date of Prescription:</label> {{input value=date id="date" class="form-control" type="date"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9">
            <label for="quantityRequested">Quantity Needed</label> {{input value=quantityRequested id="quantityRequested" class="form-control"}}
          </div>
        </div>
      </div>
      <button class="btn btn-success" {{action 'saveMedication'}}>Add To Receipt</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-info" {{action 'drugsFormShow'}}>Prescribe Medicine</button>
{{/if}}
