<h1>Add New Patient </h1>

<div class=container>
  {{#if showHideForm}}

    <form>
      <div class="row">
        <div class="col-md-6">
          <div class=form-group>
            <label for="id">First Name</label> {{input value=firstName id="firstName" class="form-control"}}
          </div>
        </div>
        <div class="col-md-6">
          <div class=form-group>
            <label for="id">Last Name</label> {{input value=lastName id="lastName" class="form-control"}}
          </div>
        </div>
      </div>
      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id='id' class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">Location</label> {{input value=location id="location" class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">Date Of Birth</label> {{input value=dob id='dob' class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">Phones Number</label> {{input value=phoneNo id='phoneNo' class="form-control"}}
      </div>


      <div class=form-group>
        <label for="id">Gender</label> {{input value=checkOuttime id="checkOuttime" class="form-control"}}
      </div>
      <div class=form-group>
        <label for="id">emergency Number</label> {{input value=emergencyNo id='emergencyNo' class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">Examiner</label> {{input value=examiner id='examiner' class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">CheckIn Time</label> {{input value=checkIntime id=checkIntime class="form-control"}}
      </div>

      <div class=form-group>
        <label for="checkOuttime">checkOuttime</label> {{input value=sex id="sex" class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">Follow Up</label> {{input value=followUp id="followUp" class="form-control"}}
      </div>

      <div class=form-group>
        <label for="id">Status</label> {{textarea value=status id="status" class="form-control"}}
      </div>

      <button class="btn btn-primary" {{action 'submitForm'}}>save</button>
      <button {{action "hidePatientForm"}}>Cancel</button>
    </form>
  {{else}}
    <button class="btn btn-primary" {{action 'showForm'}}>+ new patient</button>
  {{/if}}
</div>
