<div class=container>

  <h1>Add New Patient </h1>

  <form>
    <div class="row">
      <div class="col-md-4">
        <div class=form-group>
          <label for="id">First Name</label> {{input value=firstName id="firstName" class="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class=form-group>
          <label for="id">Last Name</label> {{input value=lastName id="lastName" class="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class=form-group>
          <label for="id">patients ID</label> {{input value=patientsId id='patientsId' class="form-control"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class=form-group>
          <label for="id">Date Of Birth</label> {{input value=dob id='dob' class="form-control" type="date"}}
        </div>
      </div>

      <div class="col-md-4">
        <div class=form-group>
          <label for="id">Phones Number</label> {{input value=phoneNo id='phoneNo' class="form-control"}}
        </div>
      </div>

      <div class="col-md-4">
        <div class=form-group>
          <label for="id">Location</label> {{input value=location id="location" class="form-control"}}
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-md-3">
        <h5>Gender</h5>
        <select onchange= {{action "setSelection" value="target.value"}} class="btn btn-default gender">
        <option disabled selected>--Male or Female</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      </div>

      <div class="col-md-9">
        <div class=form-group>
          <label for="id">emergency Number</label> {{input value=emergencyNo id='emergencyNo' class="form-control" type="number"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class=form-group>
          <label for="id">CheckIn Time</label> {{input value=checkIntime id=checkIntime type="time" class="form-control"}}
        </div>
      </div>

      <div class="col-md-6">
        <div class=form-group>
          <label for="checkOuttime">CheckOut Time</label> {{input value=checkOuttime id="checkOuttime" type="time" class="form-control"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class=form-group>
          <label for="id">Examiner</label> {{input value=examiner id='examiner' class="form-control"}}
        </div>
      </div>

      <div class="col-md-3">
        <div class=form-group>
          <label for="id">Follow Up</label> {{input value=followUp id="followUp" class="form-control"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <select onchange= {{action 'setSelection2' value="target.value"}} class="btn btn-default">
          <option disabled selected>--Checked In or Checked Out</option>
          <option value="Checked In">Checked In</option>
          <option value="Checked Out">Checked Out</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-10">
        <button class="btn btn-primary" {{action 'submitForm'}}>ADD</button>
        <button class="btn btn-danger" {{action "hidePatientForm"}}>CANCEL</button>
      </div>
    </div>
  </form>
</div>
