<div class=container>
  {{#if showHideForm}}

    <form>
      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>

      <div class=form-group>
        <label for="id">patients ID</label> {{input value=id id=id class="form control"}}
      </div>
      <button {{action 'submitfrom'}}>save</button>
    </form>
  {{else}}
    <button {{action 'showForm'}}>Update</button>
  {{/if}}
</div>
