<li>
{{patientdisp.firstName}}
</li>
<li>
{{lab.type}} {{lab.type}} {{lab.notes}}
</li>
{{patientdisp.firstName}}
<h1>Patient Info</h1>
<div class="row ">

  <div class="col-md-2">
    <h5>Patients ID</h5> {{patientdisp.patientsId}}

  </div>

  <div class="col-md-1">
    <h5>First Name</h5> {{patientdisp.firstName}}

  </div>

  <div class="col-md-1">
    <h5>Last Name</h5> {{patientdisp.lastName}}
  </div>

  <div class="col-md-1">
    <h5>Gender</h5> {{patientdisp.sex}}
  </div>

  <div class="col-md-1">
    <h5>D.O.B</h5> {{patientdisp.dob}}
  </div>

  <div class="col-md-1">
    <h5>phone No.</h5> {{patientdisp.phoneNo}}
  </div>

  <div class="col-md-1">
    <h5>Emergency No.</h5> {{patientdisp.emergencyNo}}
  </div>

  <div class="col-md-1">
    <h5>Status</h5>

    {{#if checkInclick}}
      <button class="btn btn-success" {{action 'checkIn'}}> CHECK IN </button>
       {{else}}
      <button class="btn btn-danger" {{action 'checkOut'}}> CHECK OUT </button>
    {{/if}}
  </div>
</div>
