{{#if updatePatient}}
<h4>Update Patient's Info: {{patientdisplay.firstName}} {{patientdisplay.lastName}}</h4>

<div>
  <form>
    <div class="form-group">
      <label for="firstName">Name:</label> {{input value=firstName id="firstName" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="lastName">Surname:</label> {{input value=lastName id="lastName"}}
      <label for="lastName">Surname:</label> {{input value=lastName id="lastName" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="sex">Sex:</label> {{input value=sex id="sex" class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">patients ID</label> {{input value=id id='id' class="form-control"}}
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth:</label> {{input value=dob id="dob" class="form-control"}}
    </div>
    <div class=form-group>
      <label for="patientsId">patients ID</label> {{input value=patientsId id='patientsId' class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">Location</label> {{input value=location id="location" class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">Gender</label> {{input value=sex id="sex" class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">Phone Number</label> {{input value=phoneNo id='phoneNo' class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">emergency Number</label> {{input value=emergencyNo id='emergencyNo' class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">Examiner</label> {{input value=examiner id='examiner' class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">CheckIn Time</label> {{input value=checkIntime id=checkIntime class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">Follow Up</label> {{input value=followUp id="followUp" class="form-control"}}
    </div>
    <div class=form-group>
      <label for="id">Status</label> {{textarea value=status id="status" class="form-control"}}
    </div>
    <button class="btn btn-info" {{action 'update' patientdisplay}}>Save</button>
  </form>
</div>
{{else}}
<button class="btn btn-success" {{action 'updatePatient'}}>Edit Patient Info</button>
{{/if}}
