<div class="navbars">
{{#burger-menu animation="open-door" width=200 translucentOverlay=false itemAnimation="stack" as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <i class="fa fa-times fa-2x closer " aria-hidden="true" {{action burger.state.actions.close}}></i>
<div>
    <img class="logo" src="image/logo2.png">
</div>
    <ul>
      {{#menu.item}}
        {{link-to 'Home' 'index'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to '+ Patient ' 'new-patient'}}
      {{/menu.item}}

    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <a class="hamburger {{burger.state.position}} {{if burger.state.open 'burger-hidden'}}" {{action burger.state.actions.toggle}}>
   <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
 </a> {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
</div>