<div class="navbars">
{{#burger-menu animation="open-door" width=200 translucentOverlay=false itemAnimation="stack" as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <i class="fa fa-times fa-2x closer " aria-hidden="true" {{action burger.state.actions.close}}></i>
    <h2 class="menu">Menu</h2>
    <div class="buz">
      <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
    </div>
    <ul>
      {{#menu.item}}
      <div>
       {{link-to 'Home' 'index'}}
     </div>
      {{/menu.item}}

      {{#menu.item}}
        {{link-to '+ Patient ' 'new-patient'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Lab ' 'lab'}}
      {{/menu.item}}

      {{#menu.item}}
        {{link-to 'Medication' 'patientdisplay'}}
      {{/menu.item}}

{{#menu.item}}
        {{link-to 'xray' 'xray'}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <a class="hamburger {{burger.state.position}} {{if burger.state.open 'burger-hidden'}}" {{action burger.state.actions.toggle}}>
   <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
 </a> {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
</div>

<h1>Hospital PLus</h2>